{% extends "base_generic.html" %}

{% block content %}
  <h1>PlusOne Home</h1>
  <p>Welcome to PlusOne, a website developed by <em>Big Boi Development</em>!</p>
  {% if user.is_authenticated %}
  <h2>Dynamic content</h2>
  <p>The library has the following record counts:</p>
  <ul>
    <li><strong>Activities:</strong> {{ Activities }}</li>
    <li><strong>Accounts:</strong> {{ Accounts }}</li>
    <li><strong>Groups:</strong> {{ Groups }}</li>
  </ul>
  <form action="{% url 'create_group'%}">
    <button type="submit">Create Group</button>
  </form>
  <form action="{% url 'create_event' %}">
    <button type="submit">Create Event</button>
  </form>
  {% else %}
  {% endif %}
{% endblock %}